body {
  font-family: “Century Gothic”, “Apple Gothic”, sans-serif;
  color: #333;
  width: 400px;
  margin: 20px auto; 
}

  #main {
  	background: rgba(0,0,0,0.1);
  	max-height: 300px;
  	overflow-x: scroll;
  	padding: 10px;
  	font-size: .7em;
  	line-height: 1.7em;
  }

.asdf {
	background-color: yellow;
}